In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import datetime
%matplotlib inline

In [64]:
df_cust_tran = pd.read_csv('customer_transaction_data.csv',parse_dates=['date'],dayfirst=True)
df_cust_tran.head()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
0,2012-01-02,1501,26830,1,35.26,-10.69,0.0
1,2012-01-02,1501,54253,1,53.43,-13.89,0.0
2,2012-01-02,1501,31962,1,106.50,-14.25,0.0
3,2012-01-02,1501,33647,1,67.32,0.00,0.0
4,2012-01-02,1501,48199,1,71.24,-28.14,0.0

In [65]:
df_cust_tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1324566 entries, 0 to 1324565
Data columns (total 7 columns):
date               1324566 non-null datetime64[ns]
customer_id        1324566 non-null int64
item_id            1324566 non-null int64
quantity           1324566 non-null int64
selling_price      1324566 non-null float64
other_discount     1324566 non-null float64
coupon_discount    1324566 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 70.7 MB

In [66]:
df_cust_tran_a15 = df_cust_tran[df_cust_tran.customer_id == 15].copy()

In [62]:
df_cust_tran_a15.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 828 entries, 9379 to 1308849
Data columns (total 7 columns):
date               828 non-null datetime64[ns]
customer_id        828 non-null int64
item_id            828 non-null int64
quantity           828 non-null int64
selling_price      828 non-null float64
other_discount     828 non-null float64
coupon_discount    828 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 51.8 KB

In [67]:
df_cust_demo = pd.read_csv('customer_demographics.csv')
df_item_data = pd.read_csv('item_data.csv')

df_coupon_item_mapping = pd.read_csv('coupon_item_mapping.csv')
df_train = pd.read_csv('train.csv')

In [68]:
df_campaign_data = pd.read_csv('campaign_data.csv',parse_dates=['start_date','end_date'])
df_campaign_data.head()

   campaign_id campaign_type start_date   end_date
0           24             Y 2013-10-21 2013-12-20
1           25             Y 2013-10-21 2013-11-22
2           20             Y 2013-07-09 2013-11-16
3           23             Y 2013-08-10 2013-11-15
4           21             Y 2013-09-16 2013-10-18

In [69]:
df_campaign_data.start_date= (pd.to_datetime(df_campaign_data.start_date)).dt.date
df_campaign_data.end_date= (pd.to_datetime(df_campaign_data.end_date)).dt.date

In [70]:
df_cust_tran_a15.date= (pd.to_datetime(df_cust_tran_a15.date)).dt.date

In [71]:
df_cust_tran_a15.head(3)

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount
9379,2012-01-26,15,6083,1,31.35,-14.60,0.0
9380,2012-01-26,15,6100,1,113.63,0.00,0.0
9381,2012-01-26,15,6240,1,117.19,-24.93,0.0

In [72]:
df_train_a15 = df_train[df_train.customer_id == 15].copy()
len(df_train_a15)

104

In [73]:
df_train_combined = pd.merge(df_train_a15, df_campaign_data, on='campaign_id', how='left')

In [74]:
df_train_combined.head(3)

,id,campaign_id,coupon_id,customer_id,redemption_status,campaign_type,start_date,end_date
0,139,4,459,15,0,Y,2013-07-01,2013-08-02
1,746,13,756,15,0,X,2013-05-19,2013-05-07
2,1145,9,18,15,0,Y,2013-11-03,2013-12-04

In [121]:
df_cust_tran_a15.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 828 entries, 9379 to 1308849
Data columns (total 7 columns):
date               828 non-null object
customer_id        828 non-null int64
item_id            828 non-null int64
quantity           828 non-null int64
selling_price      828 non-null float64
other_discount     828 non-null float64
coupon_discount    828 non-null float64
dtypes: float64(3), int64(3), object(1)
memory usage: 51.8+ KB

In [105]:
df_cust_tran_a15['no_of_campaign']=np.nan
df_cust_tran_a15['no_of_campaign'] = df_cust_tran_a15['no_of_campaign'].fillna(0).astype(int)
#df_cust_tran_a15['campaign_list'] = df_cust_tran_a15['no_of_campaign'].fillna(0).tolist()

,date,customer_id,item_id,quantity,selling_price,other_discount,coupon_discount,no_of_campaign
9379,2012-01-26,15,6083,1,31.35,-14.60,0.0,0
9380,2012-01-26,15,6100,1,113.63,0.00,0.0,0
9381,2012-01-26,15,6240,1,117.19,-24.93,0.0,0
9382,2012-01-26,15,10046,2,70.53,-14.25,0.0,0
9383,2012-01-26,15,11284,1,49.51,0.00,0.0,0

In [ ]:
df_cust_tran_a15.info()

In [108]:
for i in range(len(df_cust_tran_a15)):
    date_check = (df_cust_tran_a15.iloc[i]['date'])
    mask = (df_campaign_data['start_date']<= date_check) & (df_campaign_data['end_date']>= date_check)
    campaign_list = df_campaign_data.loc[mask]['campaign_id'].to_list()
    no_of_campaign = len(campaign_list)
    df_cust_tran_a15.loc[i,'no_of_campaign'] = no_of_campaign
    df_cust_tran_a15.at[i,'campaign_list'] = campaign_list
    print(i, date_check, df_cust_tran_a15.iloc[i]['item_id'],no_of_campaign,campaign_list)

ValueError: setting an array element with a sequence.