In [1]:
import pandas as pd
import numpy as np

In [214]:
cols_select=['Entry Date Time','Learning Interest','Organization','Years of Overall Experience','Source of connect','Years of Experience','Your time spent on the call','Probability of join ','Status']

df = pd.read_csv("Panda Analysis.csv",usecols=cols_select)
df.head()

,Entry Date Time,Learning Interest,Organization,Years of Overall Experience,Source of connect,Years of Experience,Your time spent on the call,Probability of join,Status
0,4/4/2016 10:10,Selenium,Intellect,6.0,Reference,6.0,0.0,Quite possible to come (75 to 100),NaN
1,9/13/2016 15:20,HP UFT,Sifi,10.0,Alumni,10.0,0.0,Quite possible to come (75 to 100),NaN
2,9/15/2016 18:00,HP UFT,Technosoft,3.0,Email,3.0,0.0,not picked the call,NaN
3,9/19/2016 18:00,HP UFT,Mind Tree,6.0,Internet,6.0,2.0,Quite possible to come (75 to 100),Registered
4,10/6/2016 11:30,Selenium,Infosys,5.0,Reference,5.0,10.0,Quite possible to come (75 to 100),NaN

In [229]:
cols_select=['Entry Date Time','Learning Interest','Organization','Years of Overall Experience','Source of connect','Years of Experience','Your time spent on the call','Probability of join ','Status']

df = pd.read_csv("Panda Analysis.csv",usecols=cols_select,parse_dates=['Entry Date Time'])

#df['just_date'] = 
df['just_date'] = pd.to_datetime(df['Entry Date Time'].dt.date)
df['Years of Overall Experience'] = pd.to_numeric(df['Years of Overall Experience'], errors='coerce')
df['Years of Experience'] = pd.to_numeric(df['Years of Experience'], errors='coerce')

df['Years of Overall Experience'] = df['Years of Overall Experience'].fillna(0)
df['Years of Experience']  = df['Years of Experience'].fillna(0)
#df['Entry_date'] = [d.date() for d in df['Entry Date Time']]
df.drop(columns=['Entry Date Time'])
#df.info()
#print(df.dtypes)
df.loc[:, (df.isna().any())]

,Organization,Your time spent on the call,Status
0,Intellect,0.00,NaN
1,Sifi,0.00,NaN
2,Technosoft,0.00,NaN
3,Mind Tree,2.00,Registered
4,Infosys,10.00,NaN
5,IBM,10.00,Visited but not registered
6,Capgemini,0.00,Registered
7,Ntt data global delivery services pvt Lmt,10.00,Registered
8,GMI,6.00,Registered
9,Wipro Technologies,2.00,Registered
10,TCS,20.00,Visited but not registered
11,GAVS,3.54,Registered
12,GAVS,3.00,Registered
13,HCL,3.20,Registered
14,TCS,0.00,NaN
15,Hexaware,0.00,Registered
16,Nissan,0.00,NaN
17,Capgemini,0.00,Registered
18,Hexaware,3.00,Registered
19,Sintel,0.00,NaN
20,NaN,0.00,Registered
21,nil,0.00,Registered
22,Sintel,0.00,Registered
23,Verizone,0.00,NaN
24,CTS,0.00,NaN
25,Infosys,0.00,Registered
26,Amtech,5.00,Registered
27,HCL,12.00,NaN
28,Igate,3.00,NaN
29,L&T,5.00,NaN
...,...,...,...
4969,cadgraf,0.00,Registered
4970,Capgemini,7.00,Visited but not registered
4971,TCS,7.00,Visited but not registered
4972,HCL,6.00,Visited but not registered
4973,accenture,0.00,NaN
4974,capgemini,9.00,NaN
4975,Syntel intl. Pvt. Ltd.,0.00,NaN
4976,NaN,7.00,NaN
4977,NaN,0.00,NaN
4978,Sqs india bfsi ltd,0.00,NaN
4979,CTS,7.00,Registered
4980,NaN,0.00,NaN
4981,NaN,0.00,NaN
4982,Wells Fargo,0.00,NaN
4983,TCS,0.00,NaN
4984,NaN,0.00,NaN
4985,NaN,0.00,NaN
4986,Wipro,7.00,NaN
4987,HCL,0.00,Registered
4988,Cognizant,0.00,Registered
4989,tcs,9.00,Registered
4990,tcs,9.00,Registered
4991,tcs,9.00,NaN
4992,IBM,0.00,NaN
4993,tcs,9.00,Registered
4994,tcs,9.00,Registered
4995,NaN,0.00,Registered
4996,LTI,0.00,Registered
4997,NaN,0.00,NaN
4998,DS infotech,0.00,NaN

In [230]:

cols_reorg=['just_date','Learning Interest','Organization','Years of Overall Experience','Source of connect','Years of Experience','Your time spent on the call','Probability of join ','Status']
df[cols_reorg]
df.shape

df=df[(df['just_date'] > '2016-03-31') & (df['just_date'] < '2017-04-01')]

df['total_exp'] = df['Years of Overall Experience'] 

mask = (df['total_exp'] == 0)
df.loc[mask, 'total_exp'] = df.loc[mask, 'Years of Experience']

df[(df['Years of Overall Experience'] == 0) & (df['Years of Experience'] > 0)]

,Entry Date Time,Learning Interest,Organization,Years of Overall Experience,Source of connect,Years of Experience,Your time spent on the call,Probability of join,Status,just_date,total_exp
5,2016-10-14 16:00:00,Selenium,IBM,0.0,Reference,1.0,10.0,Quite possible to come (75 to 100),Visited but not registered,2016-10-14,1.0
18,2016-11-01 17:13:00,Selenium,Hexaware,0.0,Internet,6.0,3.0,Quite possible to come (75 to 100),Registered,2016-11-01,6.0
20,2016-11-01 18:16:00,Selenium,NaN,0.0,Alumni,4.0,0.0,Quite possible to come (75 to 100),Registered,2016-11-01,4.0
45,2016-11-04 12:12:00,Selenium,amazon,0.0,Reference,3.0,8.0,Quite possible to come (75 to 100),NaN,2016-11-04,3.0
47,2016-11-04 12:18:00,Selenium,CGI,0.0,Reference,5.0,16.0,Quite possible to come (75 to 100),Registered,2016-11-04,5.0
55,2016-11-07 04:43:00,Selenium,L&T,0.0,Reference,6.0,7.0,Quite possible to come (75 to 100),Registered,2016-11-07,6.0
66,2016-11-08 11:29:00,Selenium,cognizant,0.0,Reference,2.0,6.0,May need followup (50 to 75),NaN,2016-11-08,2.0
76,2016-11-09 10:56:00,Selenium,CTS,0.0,NP,6.0,0.0,Quite possible to come (75 to 100),Registered,2016-11-09,6.0
78,2016-11-09 12:30:00,Selenium,CTS,0.0,Reference,6.0,16.0,Quite possible to come (75 to 100),Registered,2016-11-09,6.0
80,2016-11-09 18:15:00,Selenium,mphasis,0.0,Reference,2.0,15.0,Quite possible to come (75 to 100),Registered,2016-11-09,2.0
83,2016-11-10 16:14:00,Selenium,CTS,0.0,Reference,5.6,15.0,Quite possible to come (75 to 100),NaN,2016-11-10,5.6
84,2016-11-10 19:10:00,Selenium,ericsson,0.0,Reference,4.0,18.0,Quite possible to come (75 to 100),Visited but not registered,2016-11-10,4.0
87,2016-11-11 14:40:00,Selenium,NaN,0.0,Reference,7.0,14.0,Quite possible to come (75 to 100),NaN,2016-11-11,7.0
88,2016-11-11 17:00:00,Selenium,IBM,0.0,Reference,8.0,11.0,May need followup (50 to 75),Registered,2016-11-11,8.0
89,2016-11-11 17:11:00,Selenium,TCS,0.0,Internet,5.0,8.0,May need followup (50 to 75),NaN,2016-11-11,5.0
91,2016-11-11 17:55:00,Selenium,amazon,0.0,"Reference, Internet",4.0,8.0,Quite possible to come (75 to 100),Registered,2016-11-11,4.0
92,2016-11-12 08:30:00,Selenium,NaN,0.0,Reference,6.0,13.0,Quite possible to come (75 to 100),Registered,2016-11-12,6.0
93,2016-11-14 05:15:00,Selenium,cognizant,0.0,Reference,3.0,6.0,Quite possible to come (75 to 100),NaN,2016-11-14,3.0
97,2016-11-14 15:54:00,Selenium,foriegn,0.0,Reference,5.0,28.0,Quite possible to come (75 to 100),NaN,2016-11-14,5.0
101,2016-11-15 11:16:00,Selenium,Cognizant,0.0,Reference,5.0,10.0,Quite possible to come (75 to 100),Registered,2016-11-15,5.0
103,2016-11-15 15:00:00,Selenium,MOL Information,0.0,Email,7.0,10.0,May need followup (50 to 75),Visited but not registered,2016-11-15,7.0
104,2016-11-15 15:37:00,Selenium,Infosys,0.0,Reference,4.0,10.0,May need followup (50 to 75),NaN,2016-11-15,4.0
110,2016-11-16 10:05:00,Selenium,TCS,0.0,Reference,4.0,13.0,Looks like fake call (0 to 25),NaN,2016-11-16,4.0
111,2016-11-16 11:45:00,Selenium,Trimble information technologies,0.0,Alumni,5.0,7.0,Quite possible to come (75 to 100),Registered,2016-11-16,5.0
113,2016-11-16 15:25:00,Selenium,Thought Hub solutions,0.0,Reference,2.0,10.0,Quite possible to come (75 to 100),Registered,2016-11-16,2.0
114,2016-11-16 16:49:00,Selenium,IBM,0.0,Reference,6.0,7.0,Not really interested (25 to 50),NaN,2016-11-16,6.0
115,2016-11-16 18:35:00,Selenium,HCL,0.0,Reference,5.0,15.0,Quite possible to come (75 to 100),Registered,2016-11-16,5.0
118,2016-11-17 12:01:00,Core Java,NaN,0.0,Reference,6.0,5.0,Not really interested (25 to 50),NaN,2016-11-17,6.0
119,2016-11-17 12:10:00,Selenium,NaN,0.0,Reference,6.0,5.0,May need followup (50 to 75),NaN,2016-11-17,6.0
122,2016-11-17 15:20:00,Selenium,NaN,0.0,Reference,5.0,16.0,Quite possible to come (75 to 100),NaN,2016-11-17,5.0
...,...,...,...,...,...,...,...,...,...,...,...
805,2017-03-17 12:15:00,Selenium,CTS,0.0,Reference,6.0,18.0,Quite possible to come (75 to 100),Registered,2017-03-17,6.0
806,2017-03-17 12:50:00,Selenium,Athenahealth,0.0,Reference,3.0,25.0,May need followup (50 to 75),Registered,2017-03-17,3.0
811,2017-03-19 16:53:00,Selenium,NaN,0.0,Reference,3.0,15.0,Quite possible to come (75 to 100),Registered,2017-03-19,3.0
813,2017-03-20 12:30:00,Selenium,Athenahealth,0.0,Reference,8.0,20.0,Not really interested (25 to 50),Registered,2017-03-20,8.0
819,2017-03-20 16:00:00,Selenium,NaN,0.0,Reference,11.0,20.0,Quite possible to come (75 to 100),NaN,2017-03-20,11.0
821,2017-03-20 19:30:00,Selenium,NaN,0.0,Reference,5.0,15.0,Quite possible to come (75 to 100),NaN,2017-03-20,5.0
829,2017-03-21 15:30:00,Selenium,NaN,0.0,Reference,6.0,15.0,May need followup (50 to 75),NaN,2017-03-21,6.0
830,2017-03-21 15:30:00,Selenium,NaN,0.0,Reference,5.0,15.0,Quite possible to come (75 to 100),Registered,2017-03-21,5.0
831,2017-03-21 17:00:00,Selenium,CTS,0.0,Reference,4.0,18.0,Quite possible to come (75 to 100),NaN,2017-03-21,4.0
833,2017-03-21 18:00:00,Selenium,NaN,0.0,Reference,9.0,15.0,Looks like fake call (0 to 25),NaN,2017-03-21,9.0
835,2017-03-21 19:00:00,Selenium,NaN,0.0,Reference,2.0,15.0,Quite possible to come (75 to 100),NaN,2017-03-21,2.0
836,2017-03-21 20:10:00,Selenium,NaN,0.0,Reference,5.5,20.0,May need followup (50 to 75),NaN,2017-03-21,5.5
838,2017-03-22 10:32:00,Selenium,Cognizant,0.0,Reference,5.0,10.0,Not really interested (25 to 50),NaN,2017-03-22,5.0
852,2017-03-24 17:10:00,Selenium,NaN,0.0,Reference,7.0,20.0,Quite possible to come (75 to 100),Registered,2017-03-24,7.0
853,2017-03-24 19:30:00,Selenium,NaN,0.0,Alumni,6.0,10.0,Quite possible to come (75 to 100),NaN,2017-03-24,6.0
854,2017-03-24 19:50:00,Selenium,NaN,0.0,Reference,10.0,15.0,Not really interested (25 to 50),NaN,2017-03-24,10.0
855,2017-03-24 20:00:00,Selenium,NaN,0.0,Reference,4.0,15.0,Quite possible to come (75 to 100),Registered,2017-03-24,4.0
856,2017-03-26 10:05:00,Selenium,Amazon,0.0,Reference,2.0,15.0,Quite possible to come (75 to 100),Registered,2017-03-26,2.0
857,2017-03-27 01:10:00,Selenium,Renaualt,0.0,Reference,6.0,5.0,Quite possible to come (75 to 100),NaN,2017-03-27,6.0
858,2017-03-27 12:30:00,Selenium,Capgemini,0.0,Reference,5.0,18.0,Quite possible to come (75 to 100),Registered,2017-03-27,5.0
863,2017-03-27 16:10:00,Selenium,NaN,0.0,Reference,5.0,14.0,Quite possible to come (75 to 100),NaN,2017-03-27,5.0
866,2017-03-27 18:15:00,Selenium,NaN,0.0,Reference,10.0,15.0,May need followup (50 to 75),NaN,2017-03-27,10.0
867,2017-03-27 18:40:00,Selenium,NaN,0.0,Reference,4.0,15.0,Quite possible to come (75 to 100),NaN,2017-03-27,4.0
868,2017-03-27 18:50:00,Selenium,CTS,0.0,Reference,1.0,15.0,Quite possible to come (75 to 100),NaN,2017-03-27,1.0
869,2017-03-27 19:10:00,Selenium,NaN,0.0,Reference,3.0,15.0,Not really interested (25 to 50),NaN,2017-03-27,3.0
870,2017-03-27 19:20:00,Selenium,NaN,0.0,Reference,2.5,15.0,Quite possible to come (75 to 100),NaN,2017-03-27,2.5
871,2017-03-27 19:45:00,Selenium,NaN,0.0,Reference,5.0,15.0,Quite possible to come (75 to 100),NaN,2017-03-27,5.0
872,2017-03-27 20:00:00,Selenium,Syntel,0.0,Reference,6.0,18.0,Quite possible to come (75 to 100),NaN,2017-03-27,6.0
888,2017-03-31 12:40:00,Selenium,NaN,0.0,Reference,7.0,15.0,May need followup (50 to 75),NaN,2017-03-31,7.0
890,2017-03-31 17:45:00,Selenium,NaN,0.0,Reference,3.0,15.0,May need followup (50 to 75),NaN,2017-03-31,3.0

In [232]:
org_list=['0', 'nan', 'nil', 'no', 'no name', 'noname', 'not', 'not disclosed', 'not given', 'not known', 'not woking ', 'not working', 'Not working', 'Not Working', 'not working (Teminos)', 'not working now', 'notworking', 'Notworking']
df.Organization.replace(org_list, np.isnan)
#df.Organization.unique()
#df['Organization'].isin(org_list).count()
df.loc[df['Organization'].isin(org_list)]

,Entry Date Time,Learning Interest,Organization,Years of Overall Experience,Source of connect,Years of Experience,Your time spent on the call,Probability of join,Status,just_date,total_exp
21,2016-11-01 18:30:00,Selenium,nil,5.0,Alumni,3.0,0.0,Quite possible to come (75 to 100),Registered,2016-11-01,5.0
38,2016-11-03 11:42:00,Manual Testing,not working,3.0,Reference,3.0,2.0,he need only manual testing,NaN,2016-11-03,3.0
79,2016-11-09 15:53:00,Selenium,notworking,1.0,Reference,0.0,6.0,Quite possible to come (75 to 100),Visited but not registered,2016-11-09,1.0
94,2016-11-14 10:30:00,Selenium,not working,3.0,Reference,3.0,15.0,direct visit registered,Registered,2016-11-14,3.0
151,2016-11-20 15:30:00,Selenium,not working,0.0,Reference,0.0,15.0,Quite possible to come (75 to 100),Visited but not registered,2016-11-20,0.0
155,2016-11-21 10:30:00,Selenium,not working,0.0,Reference,0.0,15.0,Quite possible to come (75 to 100),Visited but not registered,2016-11-21,0.0
168,2016-11-22 16:31:00,Selenium,Not Working,4.0,Reference,4.0,15.0,Quite possible to come (75 to 100),NaN,2016-11-22,4.0
175,2016-11-23 10:46:00,Selenium,not working,7.0,"Reference, Alumni",7.0,10.0,Quite possible to come (75 to 100),NaN,2016-11-23,7.0
234,2016-11-29 11:31:00,Selenium,notworking,0.0,Reference,0.0,10.0,Quite possible to come (75 to 100),NaN,2016-11-29,0.0
253,2016-12-02 12:50:00,Selenium,notworking,0.0,Reference,0.0,15.0,May need followup (50 to 75),Visited but not registered,2016-12-02,0.0
269,2016-12-04 18:05:00,Selenium,not working,12.0,not asked,12.0,15.0,Not really interested (25 to 50),Visited but not registered,2016-12-04,12.0
271,2016-12-06 10:50:00,HP UFT,no name,6.0,Internet,6.0,24.0,May need followup (50 to 75),NaN,2016-12-06,6.0
272,2016-12-06 11:34:00,SQL,not working,10.0,Reference,10.0,5.0,Not really interested (25 to 50),NaN,2016-12-06,10.0
275,2016-12-07 10:26:00,Selenium,no,0.0,no,0.0,3.0,Quite possible to come (75 to 100),NaN,2016-12-07,0.0
279,2016-12-07 12:30:00,Selenium,Not working,0.0,Reference,6.0,25.0,Quite possible to come (75 to 100),NaN,2016-12-07,6.0
296,2016-12-19 12:23:00,Selenium,not working,0.0,Reference,2.0,10.0,May need followup (50 to 75),Registered,2016-12-19,2.0
300,2016-12-19 15:18:00,Selenium,not given,0.0,Reference,3.0,7.0,Quite possible to come (75 to 100),Registered,2016-12-19,3.0
303,2016-12-19 16:00:00,Appium,not known,0.0,Alumni,0.0,0.0,May need followup (50 to 75),NaN,2016-12-19,0.0
322,2016-12-21 15:14:00,Selenium,not,0.0,old call,0.0,5.0,Quite possible to come (75 to 100),Registered,2016-12-21,0.0
328,2016-12-22 15:15:00,Selenium,not given,6.0,Reference,6.0,5.0,Not really interested (25 to 50),NaN,2016-12-22,6.0
334,2016-12-23 15:22:00,Selenium,no,0.0,swo,0.0,0.0,Not really interested (25 to 50),Registered,2016-12-23,0.0
352,2016-12-27 15:59:00,Selenium,not working,9.0,Internet,9.0,10.0,Not really interested (25 to 50),NaN,2016-12-27,9.0
357,2016-12-29 11:30:00,Selenium,not working,0.0,Reference,0.0,10.0,Quite possible to come (75 to 100),Visited but not registered,2016-12-29,0.0
385,2017-01-03 11:25:00,"HP UFT, Selenium",no,0.0,old call,0.0,5.0,Quite possible to come (75 to 100),NaN,2017-01-03,0.0
392,2017-01-03 23:30:00,Appium,noname,5.0,Email,5.0,13.0,May need followup (50 to 75),NaN,2017-01-03,5.0
405,2017-01-09 15:55:00,Selenium,not working,0.0,Reference,0.0,13.0,May need followup (50 to 75),NaN,2017-01-09,0.0
406,2017-01-09 16:45:00,Selenium,not disclosed,2.0,Reference,0.0,5.0,Not really interested (25 to 50),NaN,2017-01-09,2.0
409,2017-01-10 10:14:00,Selenium,no,2.0,Reference,2.0,7.0,Not really interested (25 to 50),NaN,2017-01-10,2.0
413,2017-01-10 14:57:00,Selenium,not working,3.0,Reference,3.0,9.0,Not really interested (25 to 50),NaN,2017-01-10,3.0
417,2017-01-10 17:10:00,Selenium,not working,3.0,Reference,3.0,5.0,Quite possible to come (75 to 100),NaN,2017-01-10,3.0
440,2017-01-13 15:21:00,Selenium,no,0.0,NP,0.0,0.0,Not really interested (25 to 50),NaN,2017-01-13,0.0
447,2017-01-17 16:00:00,Appium,noname,2.0,Email,2.0,15.0,May need followup (50 to 75),NaN,2017-01-17,2.0
449,2017-01-17 16:45:00,Selenium,noname,3.0,Email,2.0,15.0,Quite possible to come (75 to 100),NaN,2017-01-17,3.0
459,2017-01-19 12:59:00,Selenium,not working,2.5,Reference,2.5,15.0,Quite possible to come (75 to 100),Visited but not registered,2017-01-19,2.5
475,2017-01-24 10:27:00,not yet decided,not working now,1.0,Reference,1.0,3.0,Quite possible to come (75 to 100),Visited but not registered,2017-01-24,1.0
483,2017-01-24 17:33:00,Selenium,not given,2.0,old call,2.0,6.0,Quite possible to come (75 to 100),Registered,2017-01-24,2.0
549,2017-02-03 14:00:00,Appium,noname,0.0,"Reference, Email",0.0,1.0,Quite possible to come (75 to 100),Registered,2017-02-03,0.0
551,2017-02-03 15:33:00,Selenium,0,0.0,Reference,0.0,5.0,Not really interested (25 to 50),NaN,2017-02-03,0.0
563,2017-02-07 18:00:00,Selenium,0,0.0,Reference,1.2,15.0,May need followup (50 to 75),Registered,2017-02-07,1.2
590,2017-02-13 12:55:00,Selenium,not working,6.0,Reference,1.0,15.0,Quite possible to come (75 to 100),Registered,2017-02-13,6.0
601,2017-02-13 18:10:00,Appium,noname,3.0,Alumni,3.0,12.0,May need followup (50 to 75),NaN,2017-02-13,3.0
632,2017-02-17 13:00:00,Appium,no name,4.0,Alumni,4.0,5.0,Quite possible to come (75 to 100),Registered,2017-02-17,4.0
639,2017-02-20 11:46:00,Selenium,no,0.0,suleka,0.0,0.0,Quite possible to come (75 to 100),NaN,2017-02-20,0.0
641,2017-02-20 12:30:00,HP UFT,no name,4.0,Reference,4.0,3.0,Not really interested (25 to 50),NaN,2017-02-20,4.0
642,2017-02-20 14:00:00,Appium,noname,4.0,Alumni,4.0,12.0,Quite possible to come (75 to 100),NaN,2017-02-20,4.0
643,2017-02-20 14:40:00,Appium,noname,3.0,Alumni,3.0,12.0,Quite possible to come (75 to 100),NaN,2017-02-20,3.0
645,2017-02-20 15:05:00,Appium,noname,4.0,Alumni,4.0,10.0,Quite possible to come (75 to 100),NaN,2017-02-20,4.0
668,2017-02-21 19:10:00,Selenium,Notworking,0.0,Reference,8.0,15.0,Quite possible to come (75 to 100),NaN,2017-02-21,8.0
677,2017-02-23 12:30:00,Selenium,Notworking,0.0,Reference,3.0,10.0,May need followup (50 to 75),NaN,2017-02-23,3.0
694,2017-02-28 15:40:00,Selenium,not woking,9.0,Reference,9.0,5.0,Quite possible to come (75 to 100),NaN,2017-02-28,9.0
725,2017-03-07 12:41:00,Selenium,not working,3.0,Reference,1.0,5.0,Quite possible to come (75 to 100),Registered,2017-03-07,3.0
763,2017-03-13 12:10:00,Selenium,not working,2.5,Reference,0.0,11.0,Quite possible to come (75 to 100),NaN,2017-03-13,2.5
766,2017-03-13 13:00:00,Appium,noname,0.0,not picking,0.0,1.0,Not really interested (25 to 50),NaN,2017-03-13,0.0
782,2017-03-14 17:20:00,Selenium,noname,0.0,not picking,0.0,0.0,Not really interested (25 to 50),NaN,2017-03-14,0.0
789,2017-03-15 13:44:00,Selenium,not working (Teminos),9.0,Reference,9.0,9.0,Quite possible to come (75 to 100),Registered,2017-03-15,9.0
796,2017-03-15 19:28:00,Selenium,not working,0.0,Reference,0.0,4.0,Looks like fake call (0 to 25),NaN,2017-03-15,0.0
807,2017-03-17 13:46:00,"Selenium, Appium",no name,3.0,Reference,3.0,10.0,May need followup (50 to 75),NaN,2017-03-17,3.0

In [185]:
df.shape
df.head()

,Entry Date Time,Learning Interest,Organization,Years of Overall Experience,Source of connect,Years of Experience,Your time spent on the call,Probability of join,Status,just_date,total_exp
0,2016-04-04 10:10:00,Selenium,Intellect,6.0,Reference,6.0,0.0,Quite possible to come (75 to 100),NaN,2016-04-04,6.0
1,2016-09-13 15:20:00,HP UFT,Sifi,10.0,Alumni,10.0,0.0,Quite possible to come (75 to 100),NaN,2016-09-13,10.0
2,2016-09-15 18:00:00,HP UFT,Technosoft,3.0,Email,3.0,0.0,not picked the call,NaN,2016-09-15,3.0
3,2016-09-19 18:00:00,HP UFT,Mind Tree,6.0,Internet,6.0,2.0,Quite possible to come (75 to 100),Registered,2016-09-19,6.0
4,2016-10-06 11:30:00,Selenium,Infosys,5.0,Reference,5.0,10.0,Quite possible to come (75 to 100),NaN,2016-10-06,5.0

In [199]:

cols_reorg=['just_date','Learning Interest','Organization','Years of Overall Experience','Source of connect','Years of Experience','Your time spent on the call','Probability of join ','Status']
df[cols_reorg]
df.shape

df['total_exp_pop_mean'] = df['total_exp'] 
df['total_exp_pop_median'] = df['total_exp'] 
df['total_exp_pop_mode'] = df['total_exp'] 

mask4 = (df['total_exp'] == 0)
mask5 = (df['Organization'].isna()==False)

#print(df.head())

#[^a-z, A-Z, 0-9, _ ]

mask1 = ((df['total_exp_pop_mean'] == 0) & (df['Organization'].isna()==False))
"""
mask2 = (df['total_exp_pop_median'] == 0 & df['Organization'].str.contains(pat='\w'))
mask3 = (df['total_exp_pop_mode'] == 0 & df['Organization'].str.contains(pat='\w'))
#print(df.loc[mask1][:5])

df.loc[mask1, 'total_exp_pop_mean'] = df['total_exp'].mean()
df.loc[mask2, 'total_exp_pop_median'] = df['total_exp'].median()
df.loc[mask3, 'total_exp_pop_mode'] = df['total_exp'].mode().iloc[0]

print(df['total_exp'].mean())
print(df['total_exp'].median())

print(df['total_exp'].mode().iloc[0])
"""
org_list=['0', nan, 'nil', 'no', 'no name', 'noname', 'not', 'not disclosed', 'not given', 'not known', 'not woking ', 'not working', 'Not working', 'Not Working', 'not working (Teminos)', 'not working now', 'notworking', 'Notworking']
df.Organization.replace(org_list, 'Nan')

array(['Intellect', 'Sifi', 'Technosoft', 'Mind Tree', 'Infosys', 'IBM',
       'Capgemini', 'Ntt data global delivery services pvt Lmt', 'GMI',
       'Wipro Technologies', 'TCS', 'GAVS', 'HCL', 'Hexaware', 'Nissan',
       'Sintel', nan, 'nil', 'Verizone', 'CTS', 'Amtech', 'Igate', 'L&T',
       'ishros', 'HTC', 'Trimble Navigation', 'Athena Health', 'Verizon',
       'not working', 'Camens', 'Plinthron Technology', 'amazon', 'CGI',
       'AON', 'Plinthron', 'Cognizant', 'hexaware', 'Tech Mahindra',
       'Wipro', 'Hinduja Tech', 'cognizant', 'Raqmikat',
       'Global Technology', 'fresher', 'RNCTDi', 'Heaxaware', 'Thinksoft',
       'notworking', 'mphasis', 'NTT Data', 'ericsson', 'poeuz', 'wipro',
       'Hermes airticketing Pvt Lt', 'foriegn', 'contus', 'Athena',
       'Syntel', 'MOL Information', 'Gavs Technology',
       'vamsoft technology', 'Plithon', 'Trace technologies', 'ISGN',
       'Trimble information technologies', 'Thought Hub solutions',
       'Polaris', 'Changepond Technology', 'capgemini', 'FSS', 'Barclays',
       'Mindtree', 'infosys', 'ejupiter', 'indiam soft', 'HP', 'CSS',
       'SPI Global', 'Reliance', 'Jai Venkateshwara Technology',
       'DLF plintron', 'Accenture', 'Tech mahindra', 'Not Working',
       'AAA Finance', 'Photon', 'Antex ', 'Antex', 'Synfusion',
       'Hexaware ', 'Prodapt solutions', 'Photon Interactive',
       'Altimatrix', 'Plintron', 'Viza technologies', 'CPS', 'Carlton ',
       'Lister ', 'Sampattika medical solution', 'Gemine',
       'Sampattika Medical Solution ', 'Mundia Mobile', 'NIT Data',
       'Suleka', 'suleka', 'GAVS Technology', 'CFB India PVT LTd',
       'R.S. Software', 'SPI Technologies', 'Amazon', 'CapGemini',
       'Athena Healthcare', 'SQS', 'IBM thru contract', 'avstech pvt ltd',
       'MPHASIS', 'AFK Technology', 'ibmer ',
       'Plinton global technologies', 'syntel', 'Raqmiyat', 'Transcentra',
       'Aon', 'Matrimony', 'BNY', 'solar', 'Solar Electrical', 'Euoplus',
       'no name', 'no', 'Not working', 'kpo', 'Siemens',
       'Ameex Technologies', 'Amith Technology', 'sintel',
       'Lucid software Ltd', 'Virtusa software services', 'Perficient',
       'not given', 'Photon dlf', 'Intel', 'not known',
       'Universum software', 'HDP', 'I links', 'ADP Solutions',
       'Nationstar', 'not', 'Altimetrik', 'Fern Software', 'I link',
       'Triadsoftware', 'Indian Software', 'SourceHOV',
       'Interglobe technologies', 'FIS', 'Future Infotech', 'INcore',
       'photon InfoTech', 'Quadrant4', 'accenture', 'ccs',
       'Inlogic Technology', 'Quadrant 4', 'csc', 'Excel technology',
       'Alabo General Trading', 'infotech', 'noname', 'Draumatic ',
       'Indium', 'Inautix', 'not disclosed', 'NP', 'Bankbazaar', 'SHP',
       'gavs technologie', 'Future focus infotec', 'I nautix', 'Polrais',
       'cognizant - not working now', 'BNP', 'Perficient India',
       'RR Donnelley', 'Am Technology', 's.m softwares',
       'furture infotech', 'onsite', 'UST', 'MS Technology',
       'standard chartered', 'Kumaran System', 'Wipro ', 'Dcs Global',
       'GVAS', 'suleka.com', 'Ford', 'Virtuza', 'elnet',
       'Origin learning', 'not working now', 'Kincare', 'studwind',
       'ryqth software', 'ADP', 'cgnizant', 'OPAS Consultancy',
       '3HSolutions', 'Flipkart', 'Pearson India', 'Hyber', 'Fiber',
       'Asan Technology', 'virtusapolaris', 'Temenos', 'KPO',
       'Nextwave mutimedia', 'illogic technologies', '0', 'Techmahindra',
       'Botree', 'Renault Nissan', 'Quadrunt', 'Ust global',
       'Tata Elxsi Ltd', 'Changepond', 'Ifosys', 'Dell',
       'Jasmin Infotech', 'Startup', 'bpo', 'Infinity', 'Ajuba',
       'STG Infotech.', 'Expert ', 'paypal', 'cts', 'Notworking',
       'Emantras', 'elumina elearning', 'Equinit', 'not woking ', 'IHROS',
       'HCl', 'Standard Chartered', 'Jeremy Infotech',
       'shresta technologies', 'internet', 'Principle', 'Virtusa',
       'Omnex software solution', 'Teminos', 'Lister Technology',
       'UFT Global', 'Bally Technologies', 'alabogenarantrading',
       'simens', 'ANP', 'shipkala', 'HDL', 'cyber',
       'not working (Teminos)', 'NSM', 'Finoculus', 'Conevo',
       'Athenahealth ', 'Freelancer', 'Source HOV', 'Ilink', 'Pignity',
       'callsoft', 'Bally', 'anvardeen05@gmail.com',
       'Information Technology', 'Renaualt', 'exclam', 'Vibrant',
       'Atena Health care', 'Financial express', 'solmermind', 'Astra '],
      dtype=object)