In [1]:
import pandas as pd
import numpy as np

In [23]:
cols_select=['Entry Date Time','Learning Interest','Organization','Years of Overall Experience','Source of connect','Years of Experience','Your time spent on the call','Probability of join ','Status']

df = pd.read_csv("Panda Analysis.csv",usecols=cols_select)
df.head()

,Entry Date Time,Learning Interest,Organization,Years of Overall Experience,Source of connect,Years of Experience,Your time spent on the call,Probability of join,Status
0,4/4/2016 10:10,Selenium,Intellect,6.0,Reference,6.0,0.0,Quite possible to come (75 to 100),NaN
1,9/13/2016 15:20,HP UFT,Sifi,10.0,Alumni,10.0,0.0,Quite possible to come (75 to 100),NaN
2,9/15/2016 18:00,HP UFT,Technosoft,3.0,Email,3.0,0.0,not picked the call,NaN
3,9/19/2016 18:00,HP UFT,Mind Tree,6.0,Internet,6.0,2.0,Quite possible to come (75 to 100),Registered
4,10/6/2016 11:30,Selenium,Infosys,5.0,Reference,5.0,10.0,Quite possible to come (75 to 100),NaN

In [72]:
cols_select=['Entry Date Time','Learning Interest','Organization','Years of Overall Experience','Source of connect','Years of Experience','Your time spent on the call','Probability of join ','Status']

df = pd.read_csv("Panda Analysis.csv",usecols=cols_select,parse_dates=['Entry Date Time'])

#df['just_date'] = 
df['just_date'] = pd.to_datetime(df['Entry Date Time'].dt.date)

#df['Entry_date'] = [d.date() for d in df['Entry Date Time']]
df.drop(columns=['Entry Date Time'])
#df.head()
#df.dtypes

,Learning Interest,Organization,Years of Overall Experience,Source of connect,Years of Experience,Your time spent on the call,Probability of join,Status,just_date
0,Selenium,Intellect,6.0,Reference,6.0,0.00,Quite possible to come (75 to 100),NaN,2016-04-04
1,HP UFT,Sifi,10.0,Alumni,10.0,0.00,Quite possible to come (75 to 100),NaN,2016-09-13
2,HP UFT,Technosoft,3.0,Email,3.0,0.00,not picked the call,NaN,2016-09-15
3,HP UFT,Mind Tree,6.0,Internet,6.0,2.00,Quite possible to come (75 to 100),Registered,2016-09-19
4,Selenium,Infosys,5.0,Reference,5.0,10.00,Quite possible to come (75 to 100),NaN,2016-10-06
5,Selenium,IBM,NaN,Reference,1.0,10.00,Quite possible to come (75 to 100),Visited but not registered,2016-10-14
6,HP UFT,Capgemini,8.0,Email,4.0,0.00,Quite possible to come (75 to 100),Registered,2016-10-16
7,Selenium,Ntt data global delivery services pvt Lmt,5.0,Reference,5.0,10.00,Quite possible to come (75 to 100),Registered,2016-10-17
8,"Loadrunner, JMeter, Jmeter Workshop",GMI,1.0,Alumni,1.0,6.00,Not really interested (25 to 50),Registered,2016-10-17
9,JMeter,Wipro Technologies,4.0,Alumni,4.0,2.00,May need followup (50 to 75),Registered,2016-10-20
10,Selenium,TCS,12.0,Reference,12.0,20.00,Not really interested (25 to 50),Visited but not registered,2016-10-21
11,Appium,GAVS,9.0,Alumni,9.0,3.54,Quite possible to come (75 to 100),Registered,2016-10-21
12,Appium,GAVS,9.0,Alumni,9.0,3.00,Quite possible to come (75 to 100),Registered,2016-10-21
13,HP UFT,HCL,5.0,Reference,5.0,3.20,Quite possible to come (75 to 100),Registered,2016-10-25
14,Selenium,TCS,7.0,Reference,7.0,0.00,Quite possible to come (75 to 100),NaN,2016-11-01
15,Selenium,Hexaware,6.0,Reference,1.0,0.00,Not really interested (25 to 50),Registered,2016-11-01
16,Selenium,Nissan,1.0,Reference,1.0,0.00,May need followup (50 to 75),NaN,2016-11-01
17,Selenium,Capgemini,6.0,Reference,6.0,0.00,May need followup (50 to 75),Registered,2016-11-01
18,Selenium,Hexaware,NaN,Internet,6.0,3.00,Quite possible to come (75 to 100),Registered,2016-11-01
19,Selenium,Sintel,6.0,Alumni,6.0,0.00,Quite possible to come (75 to 100),NaN,2016-11-01
20,Selenium,NaN,NaN,Alumni,4.0,0.00,Quite possible to come (75 to 100),Registered,2016-11-01
21,Selenium,nil,5.0,Alumni,3.0,0.00,Quite possible to come (75 to 100),Registered,2016-11-01
22,Selenium,Sintel,6.0,Reference,6.0,0.00,Quite possible to come (75 to 100),Registered,2016-11-01
23,Selenium,Verizone,3.0,Reference,3.0,0.00,Not really interested (25 to 50),NaN,2016-11-01
24,Selenium,CTS,3.0,Reference,3.0,0.00,Not really interested (25 to 50),NaN,2016-11-01
25,Selenium,Infosys,4.0,Reference,4.0,0.00,Quite possible to come (75 to 100),Registered,2016-11-02
26,HP UFT,Amtech,3.0,Reference,3.0,5.00,Quite possible to come (75 to 100),Registered,2016-11-02
27,Selenium,HCL,0.0,Reference,0.0,12.00,Not really interested (25 to 50),NaN,2016-11-02
28,Selenium,Igate,11.0,Email,11.0,3.00,Not really interested (25 to 50),NaN,2016-11-02
29,Selenium,L&T,7.0,Reference,7.0,5.00,Quite possible to come (75 to 100),NaN,2016-11-02
...,...,...,...,...,...,...,...,...,...
4969,Selenium,cadgraf,1.3,Reference,1.3,0.00,May need followup (50 to 75),Registered,2018-05-14
4970,Selenium,Capgemini,NaN,Reference,4.6,7.00,Quite possible to come (75 to 100),Visited but not registered,2018-05-13
4971,Selenium,TCS,NaN,Reference,0.0,7.00,Quite possible to come (75 to 100),Visited but not registered,2018-05-13
4972,0,HCL,NaN,Reference,0.1,6.00,Quite possible to come (75 to 100),Visited but not registered,2018-05-14
4973,Appium,accenture,7.0,Alumni,7.0,0.00,Quite possible to come (75 to 100),NaN,2018-05-14
4974,Selenium,capgemini,NaN,Reference,6.0,9.00,May need followup (50 to 75),NaN,2018-05-14
4975,"Selenium, JMeter",Syntel intl. Pvt. Ltd.,2.8,Reference,2.8,0.00,Quite possible to come (75 to 100),NaN,2018-05-14
4976,Selenium,NaN,NaN,Reference,0.0,7.00,Not really interested (25 to 50),NaN,2018-05-14
4977,python,NaN,0.9,Reference,0.9,0.00,Quite possible to come (75 to 100),NaN,2018-05-14
4978,Selenium,Sqs india bfsi ltd,3.0,Reference,3.0,0.00,Quite possible to come (75 to 100),NaN,2018-05-14
4979,Selenium,CTS,NaN,Reference,4.0,7.00,Quite possible to come (75 to 100),Registered,2018-05-14
4980,Selenium,NaN,0.0,Reference,0.0,0.00,May need followup (50 to 75),NaN,2018-05-12
4981,Selenium,NaN,0.0,Alumni,0.0,0.00,Quite possible to come (75 to 100),NaN,2018-05-14
4982,"Selenium, Cucumber workshop",Wells Fargo,11.0,Reference,11.0,0.00,Quite possible to come (75 to 100),NaN,2018-05-14
4983,Appium,TCS,2.0,Alumni,2.0,0.00,Quite possible to come (75 to 100),NaN,2018-05-14
4984,python android and ios testing,NaN,1.0,Reference,0.0,0.00,Quite possible to come (75 to 100),NaN,2018-05-14
4985,Selenium,NaN,3.0,Reference,3.0,0.00,Quite possible to come (75 to 100),NaN,2018-05-15
4986,Selenium,Wipro,5.0,Reference,5.0,7.00,May need followup (50 to 75),NaN,2018-05-15
4987,Selenium,HCL,1.7,Reference,1.7,0.00,Quite possible to come (75 to 100),Registered,2018-05-15
4988,Selenium,Cognizant,4.0,Reference,4.0,0.00,Quite possible to come (75 to 100),Registered,2018-05-15
4989,Selenium,tcs,NaN,Reference,5.5,9.00,Quite possible to come (75 to 100),Registered,2018-05-15
4990,Selenium,tcs,NaN,Reference,5.5,9.00,Quite possible to come (75 to 100),Registered,2018-05-15
4991,Selenium,tcs,NaN,Reference,7.0,9.00,Quite possible to come (75 to 100),NaN,2018-05-15
4992,JMeter,IBM,10.0,Reference,10.0,0.00,Quite possible to come (75 to 100),NaN,2018-05-15
4993,Selenium,tcs,NaN,Reference,8.0,9.00,Quite possible to come (75 to 100),Registered,2018-05-15
4994,Selenium,tcs,NaN,Reference,5.5,9.00,Quite possible to come (75 to 100),Registered,2018-05-15
4995,Selenium,NaN,6.0,Reference,6.0,0.00,Quite possible to come (75 to 100),Registered,2018-05-15
4996,Selenium,LTI,7.0,Reference,7.0,0.00,Quite possible to come (75 to 100),Registered,2018-05-15
4997,Selenium,NaN,0.5,Reference,0.5,0.00,Quite possible to come (75 to 100),NaN,2018-05-15
4998,Selenium,DS infotech,2.0,Alumni,2.0,0.00,Quite possible to come (75 to 100),NaN,2018-05-15

In [90]:

cols_reorg=['just_date','Learning Interest','Organization','Years of Overall Experience','Source of connect','Years of Experience','Your time spent on the call','Probability of join ','Status']
df[cols_reorg]
df.shape
#df.loc[df['just_date']>'2016-04-01']

#df.loc[(df['just_date'] >= '2016-04-01') & (df['just_date'] < '2017-04-01')].count()

df1=df[(df.just_date >= '2016-04-01') & (df.just_date < '2017-04-01')]

df1.count()

Entry Date Time                891
Learning Interest              891
Organization                   685
Years of Overall Experience    598
Source of connect              891
Years of Experience            891
Your time spent on the call    891
Probability of join            891
Status                         396
just_date                      891
dtype: int64